	.content-wrapper{
		padding:10px;
		background: #f1f4f6;
	}
	table{
		text-align: center;
	}
	.user_style_Warm_no_power{
		color:red;
		width: 200px;
		background-color: #e74c3c;
	}
	button:focus{
		outline: none;	
	}

	.btn:focus,
	.btn.active:focus{
	    outline: none;          
	}
	#head_activity_search:hover{
		cursor: pointer;
	}
	.layui-btn{
		margin-left: 0px;
	}

	.col-md-3{
		text-align:right;
	}

	.row{
		/*border:1px solid red;*/
		margin-bottom: 10px;
		line-height: 38px;
	}

	.col-tips{
		text-align: left;
	}

	.layui-card-header:hover i{
		color:  red;
	}
	
	.user_style_for_ok_add{
		min-width: 200px;
		margin-top: 30px;
		background-color: #18bc9c;
		color: white;
	}