
#right_part tbody tr{
	padding-left: 10px;
	/*border:1px solid red;*/
}

#right_part tr td:first{
	/*border:1px solid red;	*/
	margin-left: 40px;
	text-align: left;
}
#right_part tr td:hover{
	background: #f5f5f5;
}


#right_card .card_right_header{
	border-radius: 3px;
	border-top: 2px solid #3c8dbd;
}

#general_team_view{
	opacity: .8;
	display: inline-block;
	/*border:1px solid grey;*/
	font-size: 12px;
	float: right;
}

