.content-wrapper{
	 background: #f1f4f6;
	 padding: 15px 20px;
}

#form_group_btn{
	text-align:right;
}

.col-md-2{
	text-align: right;
	line-height: 35px;
}

#personerCenterTable{
	align: center;
}

#personBox{
	background: white;
	border-top: 2.5px solid #00a65a;
	border-radius: 4px;
}

#show_recent_record{
	font-size: 14px;
}

#last_login{
	display: inline-block;
	float: right;
	margin-right: 0px;
	font-size: 13px;
}