.content-wrapper{
	 background: white;
	 padding: 15px 20px;
}

.user_sytle_for_volunteerlist{
	margin-top:30px;
}

#table_style{
	text-align: center;
	margin-top: 10px;
}
#table_style thead{
	color: #121212;
}

#head_activity_search:hover{
	cursor: pointer;
}